[Desktop Entry]
Name=Jupyter Notebook
Exec=bash -c 'cd $HOME/Documents && jupyter notebook'
Icon=utilities-terminal
Terminal=yes
Type=Application
Categories=Application;

