[Desktop Entry]
Name=NEURON
Exec=xfce4-terminal  -e  "bash -c 'cd $HOME/Documents && nrngui -python'"
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Application;

